.imgContainer{
    background-image: url("https://rare-gallery.com/uploads/posts/5404296-portrait-fashion-model-shirt-woman-t-shirt-design-pink-background-attitude-peace-peace-sign-black-wear-style-monochrome-pink-wall-trendy-glasses-sun-glasses-pose-wall-pose-free-stock-photos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
